


.selectAdmiral {
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: rgb(0, 98, 255);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 98, 255);
    height: 48px;
    padding: 0px 22px;
    width:100px;
}

    .selectAdmiral option {
        margin: 40px;
        background: #FFF;
        color: #000;
    }

    .selectAdmiral:hover {
        background-color: #0046e2;
        border: 1px solid rgb(0, 98, 255);
    }

    .selectAdmiral:focus {
        outline: none;
        border: 1px solid rgb(0, 98, 255);
    }



label {
    margin-right: 7px;
    margin-left: 5px;
}

.lableNameFilter{
    width:100px;
}



.inputTextAdmiral {
    border: solid;
    height: 40px;
    border-radius: 4px;
    border-color: #999;
    border-width: 1px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 300px;
    outline: none;
}

    .inputTextAdmiral:hover {
        border-color: rgb(35, 38, 45);
    }

    .inputTextAdmiral:focus {
        outline: none;
        border: 2px solid rgb(0, 98, 255);
    }

.dateInputAdmiral {
    text-align:center;
    height: 40px;
    border-radius: 4px;
    border-color: rgb(35, 38, 45);
    border-width: 1px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 150px;
}

    .dateInputAdmiral:focus {
        outline: none;
        border: 2px solid rgb(0, 98, 255);
    }


.buttonAdmiral {
    
    border-radius: 4px;
    margin: 8px 16px 1px 1px;
    background-color: rgb(0, 98, 255);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 98, 255);
    height: 32px;
    padding: 0px 20px;
    font-family: "VTB Group UI", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: "tnum", "lnum";
    
}
    .buttonAdmiral:hover {
        background-color: #0046e2;
        border: none;
    }


#paginator {
    display: flex;
    width: 100%;
}

.paginatorChild {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonPaginatorAdmiral {
    border-radius: 4px;
    margin: 2px;
    background-color: rgb(0, 98, 255);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 98, 255);
    height: 32px;
    font-family: "VTB Group UI", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: "tnum", "lnum";
    width: 50px;
}

    .buttonPaginatorAdmiral:hover {
        background-color: #0046e2;
        border: none;
    }




#filterPanel {
    border: 1px solid rgb(0, 98, 255);
    border-radius: 4px;
    padding: .5em .5em 0;
    margin: 10px;
}

#filterPanelName {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

#filterPanel[open] {
    padding: .5em;
    margin: 10px;
}

    #filterPanel[open] #filterPanelName {
        border-bottom: 1px solid #aaa;
        margin-bottom: .5em;
    }