.align-right { text-align: right }
.align-center { text-align: center }

.bool1 { color: green; }
.bool1:before { content: '\e038' }
.bool0 { color: red; }
.bool0:before { content: '\e039' }

div.sb-table { display: table; }
div.sb-row { display: table-row; }
div.sb-cell {
    /*display: table-cell;*/
    vertical-align: middle;
}


/*---------------Стили таблицы-----------------*/
.sb-gridcell {/*стиль колонки таблицы*/
    border-right: solid 1px #d5d8de;
    border-collapse: collapse;
    border-bottom: solid 1px #d5d8de;
}

.sb-gridcell2 {/*стиль последней колонки*/
    border-collapse: collapse;
    border-bottom: solid 1px #d5d8de;
}

.col-options-button {/*иконка фильтра*/
    background-image: url('icons/icofilter1.png') !important;
}

    .col-options-button:hover {/*иконка фильтра при наведении*/
        background-image: url('icons/icofilter2.png') !important;
        background-color: #ffffff !important;
    }

.col-title:hover {/*убрать серый подсвет при наведении на заголовок*/
    background-color: #ffffff !important;
}

.col-header-content {/*поменять местами иконку фильра и заголовок колонки*/
    display: flex;
    flex-direction: row-reverse;
}
/*---------------------------------------------*/
